{% extends "layout.html" %}

{% block title %}
    Intro
{% endblock %}

{% block content %}
    <div class="topic">
        <div>
            <h1>AI Study Planner</h1>
            <div>
                <a href="/login">
                    <button type="button" class="btn btn-primary btn-lg">Log In</button>
                </a>
                <a href="/register">
                    <button type="button" class="btn btn-secondary btn-lg">Register</button>
                </a>
            </div>
            <h4>
                Name: Nikhil Srivastava
            </h4>
            <h4>
                edx user name: nikhilsri8052
            </h4>
            <h4>
                github user name:nikhilsri8052-a11y
            </h4>
            <h4>
                city and country:Prayagraj And India
            </h4>
            <h4>
                date:30-03-2026
            </h4>
        </div>
    </div>
{% endblock %}
